@media (max-width: 1920px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 960px;
    }


    /* new products start */

    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .products__left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 80%;
        gap: 37px 70px;
        justify-content: center;
    }

    /* new products end */

    /* leftowers start */

    .leftowers__bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 53px;
    }
    
    /* leftowers end*/




}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 350px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }
}


@media screen and (max-width: 1024px) {
   .header__top{
        max-width: 960px;
        width: 100%; 
   }
}


@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 425px) {

    

@media screen and (max-width: 320px) {

   
}
