@media (max-width: 1920px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 350px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }
}



@media screen and (max-width: 1024px) {

   .header__top{
        max-width: 960px;
        width: 100%; 
   }

   .main__slider {
       max-width: 919px;
   }

   .header__main-img {
        max-width: 510px;
    }

    /* new products start */

    .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .products__left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 80%;
        gap: 37px 70px;
        justify-content: center;
    }

    /* new products end */

    /* leftowers start */

    .leftowers__bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 53px;
    }

    /* leftowers end  */

}


@media screen and (max-width: 768px) {

    .header__top{
        max-width: 720px;
        width: 100%;
        top: 30px;
    }

    .burger {
        display: none;
    }

   .main__slider {
        max-width: 679px;
    }

   .header__slider-content {
        align-items: center;
    }

   
   .header__main-header {
        
        font-size: 41px;
        max-width: 344px;
    }

   .header__main-img {
        max-width: 100%;
   }

   /* new products start */

   .products__left {
       flex-basis: 87%;
       gap: 37px 34px;
   }

   /* new products end */ 
   
   .footer__nav-list {
        min-width: 370px;
   }

   .nav-wrap {
        width: 47%;
   }

}

@media screen and (max-width: 425px) {

    .header {
        padding: 30px 0 80px;
    }

    .header::before  {
        height: 56%;
    }


    .header__top {
        padding: 22px 0 22px;
        max-width: 100%;
        top: 50px;
        background-color: #ffff;
        top: 0;
        left: 0;
        align-items: center;
    }

    .header__top-logo {
        margin-right: 0;
        margin-left: 14px;
    }
    

   .header__top-nav {
       display: none;
    }

   .header__burger {
       display: block;
       /* margin-right: 25px; */

    }
    .header__item-wrap {
        flex-basis: 34%;
    }
    
    .burger {
        display: flex;
        align-items: center;
        margin-right: 13px
    }


    .main__slider {
        max-width: 400px;
    }

    .header__slider-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .header__main {
        padding-bottom: 35px;
    }

    .main-left {
        width: 100%;
        padding-left: 1px;
        padding-top: 10px;
    }

    .main-right {
        width: 100%;
        padding: 0 0 0 60px;
    }

    .header__main-button {
        width: 100%;
    }

    /* new rpoduct start */

    .new-products {
        padding-top: 0; 
    }
    
    .products__left {
        flex-basis: 100%;
    }

    .product__header {
        width: 100%;
        margin-bottom: 53px;
    }
        
    .product {
        width: 80%;
    }

    .product-table {
        width: 80%;
    }

    .product__card-header {
        width: 100%;
    }

    .products__right {
        min-width: 320px
    }
    
    .right__card-img {
        margin-bottom: 0;
        width: 100%;
    }    

    /* new rpoduct end */


    /* reviews start*/

    .reviews {
        display: none;
    }

    /* reviews end*/


    /* leftowers start*/

    .leftowers {
        padding: 80px 0 ;
        background-image: none;
    }
        
    
    .leftowers__top-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .nav-element {
        margin-right: 0;
    }

    /* leftowers end*/

     /* footer start*/

    .footer {
        padding: 30px 0 10px 0
    }

    .footer__logo {
        display: inline-block;
        margin-bottom: 31px;
        width: 100%;
        height: 20px;

    }

    .footer__logo-link{
        display: inline-block;
    }
     
    .footer_wrap  {
        display: flex;
        flex-direction: column;
    }

    .footer__nav-list {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 39px;
        height: 52px;
    }

    .footer__manu-nav {
        display: flex;
        width: 100%;
    }

    .nav-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 81px;
     
    }
                         
    .footer__main {
        display: flex;
        margin-top: 0;
        flex-direction: column;
    }

    .footer__main-tel {
        margin-bottom: 22px;
    }

    .footer__main-email {
        margin-bottom: 40px;
    }

    .footer__menu-nav {
        width: 100%;
    }
}    


@media screen and (max-width: 375px) {
    
    .main__slider {
        max-width: 350px;
    }

    .main-right {
        padding: 0 0 0 17px; 
    }

    .products__right {
        min-width: 281px;
    }

    .right__card-descr {
        font-size: 17px;
    }

    .leftowers__top-nav {
        justify-content: space-between
    }

}


@media screen and (max-width: 320px) {
    
    .main__slider {
        max-width: 300px;
    }

    .main-right {
        padding: 0; 
    }

    .header__main-img {
        max-width: 109%;
    }

    .header__main-header {
        font-size: 27px;
    }

    .products__right {
        min-width: 243px;
    }

    .right__card-descr {
        font-size: 23px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }  

    .footer__copyright-descr {
        text-align: center;
    }

}



