.leftowers
    padding: 73px 0 111px 0
    background-image: url(../img/leftowers/bg.jpg)
    background-position: left top
    background-repeat: no-repeat


.leftowers__top
    margin-bottom: 25px

    &-header
        font-family: "PlayfairDisplay",sans-serif
        font-weight: 700
        font-size: 28px
        letter-spacing: 5%
        color: #303032
        text-transform: uppercase
        margin-bottom: 48px

.nav-element
    font-family: "OpenSans",sans-serif
    font-weight: 600
    font-size: 16px
    color: rgba(0, 0, 0, 0.4)
    margin-right: 48px

.nav-element:hover
    color: #000000
    text-decoration: underline


.leftowers__bottom
    display: flex
    flex-direction: row
    justify-content: space-between
    // gap: 31px

    &-productcard
        position: relative
        display: flex
        flex-direction: column
        // align-items: flex-end
        padding-top: 30px
        padding-left: 26px
        width: 209px
        height: 355px
        background-color: #ffff
        box-shadow:rgba(0, 0, 0, 0.05)

.productcard-img:hover + .bottom__button, .bottom__button:hover + .productcard-line
    display: block



.bottom__button:hover
    opacity: 0.9
    


.productcard-wrap
    display: flex
    flex-direction: row
    align-items: baseline
    


.productcard-descr
    font-family: "OpenSans",sans-serif
    font-weight: 400
    font-size: 16px
    color: #000000
    margin-bottom: 5px

.productcard-newprice
    font-family: "OpenSans",sans-serif
    font-weight: 600
    font-size: 28px
    color: #303032
    margin-right: 11px

.productcard-oldprice
    font-family: "OpenSans",sans-serif
    font-weight: 600
    font-size: 16px
    color: #979798
    text-decoration: line-through

.productcard-img
    max-width: 100%
    height: 355px

.img-wrap
    // display: flex
    // flex-direction: row
    // justify-content: flex-end


.bottom__button
    display: none
    position: absolute
    left: 0
    bottom: -45px
    width: 100%
    padding: 18px 66px
    background-color: #303032
    font-family: "OpenSans",sans-serif
    font-weight: 400
    font-size: 16px
    color: #FFFFFF
    text-transform: uppercase
    border: none
    


// .bottom__button:before
    
//     top: 0
//     left: 0
//     height: 5px
//     width: 100%
//     background-color: black
    
    
