/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/*  custom settings for slick dots, buttons */

.main__slider .slick-dots li{
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: flex-end; 
}

.main__slider .slick-dots {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 38%;
  right: -39px;
}

.main__slider .slick-dots li button {
  font-family: "PlayfairDisplay", sans-serif;
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.main__slider .slick-dots li button.slick:active {
  font-size: 50px;
}

#slick-slide-control00:focus, #slick-slide-control01:focus, #slick-slide-control02:focus, #slick-slide-control03:focus {
  color: #000000;
}
              
.main__slider .slick-dots li.slick-active {
    border-right: 2px solid #000000; 
}
              

/* блок кнопок */

#slick-slide-control00::after {
  content: '01';
  font-size: 20px;
  width: 23px;
  height: 29px;
  
}

#slick-slide-control01::before {
  content: '02';
  font-size: 20px;
  width: 23px;
  height: 29px;
  
}

#slick-slide-control02::before {
  content: '03';
  font-size: 20px;
  width: 23px;
  height: 29px;
  
}

#slick-slide-control03::before {
  content: '04';
  font-size: 20px;
  width: 23px;
  height: 29px;
  
}


/* блок кнопок */


/* reviews__slider arrows start */

.reviews__slider.slick-slider {
  margin: 0 auto;
  max-width: 653px; 
}

.reviews__slider .slick-prev, .reviews__slider .slick-next {
  position: absolute;
  display: block;
  height: 36px;
  width: 36px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #FFFFFF;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.reviews__slider .slick-prev{
  left: -50px;
}

.reviews__slider .slick-next {
    right: -50px;
}

.reviews__slider .slick-prev::before {
  content: url(../img/reviews/button-prev.svg);
  width: 10px;
  height: 10px;
}

.reviews__slider .slick-next::before {
  content: url(../img/reviews/button-next.svg);
  width: 10px;
  height: 10px;
}

.reviews__slider .slick-prev:hover {
  border: 1px solid #B3B3B3;
}

.reviews__slider .slick-next:hover {
  border: 1px solid #B3B3B3;
}


/* reviews__slider bottom dots start */

.reviews__slider .slick-dots li{
  display: flex; 
}

.reviews__slider .slick-dots {
  display: flex; 
  position: absolute;
  bottom: -23px;
  left: 43%;
}

.reviews__slider .slick-dots li {
  margin-right: 7px;
}  

.reviews__slider .slick-dots li button
{
  font-size: 0;
  display: block;
  list-style-type: none;
  background: transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #B3B3B3;
}

.reviews__slider .slick-dots li button:hover {
  border: 2px solid #B3B3B3;
}

.reviews__slider .slick-dots li button:focus {
  background: #B3B3B3;
}

.reviews__slider .slick-dots li.slick-active {
  border-radius: 50%;
  background: #B3B3B3;
}

/* reviews__slider bottom dots end */


@media screen and (max-width: 768px) {

  .reviews__slider .slick-next {
    right: -36px;
  }

  .reviews__slider .slick-prev {
    left: -36px;
  }  
}


@media screen and (max-width: 425px) {

  .main__slider .slick-dots {
    display: flex;
    flex-direction: row;
    top: 102%;
    right: 20%;
 
}

  .main__slider .slick-dots li {
    margin-right: 20px;
  }

  .main__slider .slick-dots li.slick-active  {
    border-right: none;
  }

}

@media screen and (max-width: 375px) {
      
  .main__slider .slick-dots {
    right: 15%;
  }

}

@media screen and (max-width: 320px) {
      
  .main__slider .slick-dots {
    right: 9%;
  }

}

